* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    border: 1px solid red;
    justify-content: center;
    align-items: center;
    gap: 60px;
    height: 850px;
    width: 850px;
    margin: 100px auto;
}

.box {
    border: 1px solid black;
    height: 200px;
    width: 200px;
    border-radius: 20%;
    margin: auto;

}

.circled {
    /* background-color: rgb(72, 143, 2); */
    background-image: url(/images/circle.png);
    background-size: 104%;
}

.crossed {
    /* background-color: brown */
    background-image: url(/images/cross.png);
    background-size: 97%;
}